.header {
	background-color: var(--header-background-color);
	background: var(--header-background-color);
	color: var(--header-text-color);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 7vh;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	z-index: 999;
 }
 
 .header__logo {
	background-image: url(/_app/assets/logoImgHeader.png);
	background-size: cover;
	width: 140px;
	height: 140px;
	float: left;
	margin-left: 30px;
	object-fit: contain;
 }
 
 .header__nav {
	float: right;
	margin-top: 20px;
	margin-right: 60px;
 }
 
 .header__nav-item {
	display: inline-block;
	margin-right: 40px;
	padding: auto;
	justify-items: end;
	text-transform: uppercase;
 }
 
 .header__nav-link {
	color: var(--header-text-color);
	text-decoration: none;
 }
 
 .header__nav-link:hover {
	text-decoration: underline;
 }

 .header__toggle-button {
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	background-color: var(--primary-color);
	color: var(--header-text-color);
	border-radius: 50%;
	border: none;
	width: 40px;
	height: 40px;
	cursor: pointer;
 }
 