.header {
	background-color: var(--header-background-color);
	background: var(--header-background-color);
	color: var(--header-text-color);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 8vh;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	z-index: 999;
 }
 
 .header__logo {
	width: auto;
	float: left;
	object-fit: contain;
 }
 
 .header__nav {
	float: right;
	margin-top: 20px;
 }
 
 .header__nav-item {
	display: inline-block;
	margin-right: 40px;
	padding: auto;
	justify-items: end;
	text-transform: uppercase;
 }
 
 .header__nav-link {
	color: var(--header-text-color);
	text-decoration: none;
 }
 
 .header__nav-link:hover {
	text-decoration: underline;
 }

 .header__toggle-button {
	float: right;
	margin-top: 20px;
	margin-right: 20px;
 }